/*van Gogh color palette {
  sunflowers: #ffce00;
  starry night: #0375b4;
  irises: #007849;
  evening: #262228;
}*/

html {
  height: 100%;
  background: radial-gradient(#007849 85%, #262228);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: helvetica;
}

h1 {
  text-align: center;
  font-size: 56px;
  color: #ffce00;
  margin: 12px auto;
  text-shadow: 1px 1px 2px rgba(40, 40, 40, 0.6);
}

h2, p {
  margin: 20px;
  color: #fff;
}

.main {
  width: 868px;
  height: 432px;
  background: #333;
  display: flex;
  flex-flow: row nowrap;
  box-shadow: 2px 2px 4px 2px rgba(40, 40, 40, 0.6);
}

.button {
  width: 50px;
  height: 100%;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('assets/arrow.svg') no-repeat center, linear-gradient(#ffdb4d, #ffce00);
}

.button:hover {
  background: url('assets/arrow.svg') no-repeat center, linear-gradient(#ffce00, #ffdb4d);
}

.button:active {
  background: url('assets/arrow-active.svg') no-repeat center, linear-gradient(#ffce00, #ffdb4d);
  box-shadow: inset 2px 2px 4px 2px rgba(40, 40, 40, 0.6);
}

.right {
  transform: scaleX(-1);
}

.right:active {
  box-shadow: inset -2px 2px 4px 2px rgba(40, 40, 40, 0.6);
}

img {
  user-select: none;
}

.gallery {
  position: relative;
  width: 768px;
  height: 432px;
  background: blue;
}

.large {
  width: 768px;
  height: 432px;
}

.description {
  position: absolute;
  bottom: 0;
  height: 120px;
  width: 768px;
  background: rgba(38, 34, 40, 0.8);
}

.thumbnail {
  padding: 0;
  display: flex;
  justify-content: center;
}

.list {
  width: 72px;
  height: 72px;
  margin: auto 10px;
  background: red;
  list-style: none;
}

.small {
  width: 72px;
  height: 72px;
  object-fit: cover;
  cursor: pointer;
  box-shadow: 5px 5px 4px 2px rgba(40, 40, 40, 0.6);
  outline: 5px solid #aaa;
}

.small:hover {
  outline: 5px solid #ffdb4d;
}

#active {
  outline: 5px solid #ffce00;
}
